@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand&display=swap');


@font-face {
    font-family: "Quicksand", serif;
    font-style: normal;
    font-weight: 400;
	src: url('../fonts/Quicksand-VariableFont.woff2') format('woff'),
	url('../fonts/Quicksand-VariableFont.ttf') format('truetype');

}

@font-face {
	font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: normal;
	src: url('../fonts/NotoSerif.woff2') format('woff'),
	url('../fonts/NotoSerif.ttf') format('truetype');
}

.page {
	margin: 0;
	display: flex;
	flex-direction: column;
    background-color: #000000;
    color: #ffffff;
}

.header_menu {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: center;
	width: 100vw;
	height: 20vh;
    padding: 0;
    list-style: none;
}
.header_menu li{
    display: flex;
	align-items: center;
	padding: 0 30px;
}
.header_menu a{
    text-decoration: none;
	text-transform: uppercase;
    color: #ffffff;
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: 700;
}
.content {
    display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.content img{
    height: 60vh;
}
.content_text{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10vw;
    justify-content: center;
    height: 60vh;
}
.content_text h1, h2 {
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: 700;
}
.content_text p, li {
    font-family: "Quicksand", serif;
    font-style: normal;
    font-weight: 400;
}

.contact {
    display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: center;
    width: 100vw;
    height: 10vh;
    margin-bottom: 10vh;
}
.strip {
    border-bottom: 1px solid #ffffff;
    margin-top: 5vh;
}
